@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  /* colors */
  --color-primary: #1c1c22;

  --color-accent: #00ff99;
  --color-accent-hover: #00e187;

  /* font */
  --font-primary: var(--font-jetbrainsMono);
}

@layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose;
  }
}